@model MainOps.Models.ViewModels.ArrivalVM

@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedLocalizer.GetLocalizedHtmlString("All Documenation")</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>

<table style="page-break-inside:avoid;">
    <tr>
        <td colspan="3">
            <b>@SharedLocalizer.GetLocalizedHtmlString("Arrival")</b>
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.Project.Name)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.Project.Name)
        </td>
        <td rowspan="4" align="right"><img src="~/images/Divisions/Photos/@Model.Arrival.Project.Division.Id/@Model.Arrival.Project.Division.LogoPath" width="151" height="66" /></td>
    </tr>

    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.Project.ProjectNr)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.Project.ProjectNr)
        </td>
    </tr>
    @if (Model.Arrival.SubProjectId != null)
    {
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Arrival.SubProject.Name)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Arrival.SubProject.Name) : @Html.DisplayFor(Model => Model.Arrival.SubProject.SubProjectNr)
            </td>
        </tr>
    }
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.Project.Client)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.Project.Client)
        </td>

    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.TimeStamp)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.TimeStamp.Date)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.ItemType.Item_Type)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.ItemType.Item_Type)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.UniqueID)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Arrival.UniqueID)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Arrival.Amount)
            </b>
        </td>

        @if (Model.Arrival.ItemType.Install_Unit.TheUnit.Equals("pr. l"))
        {
            <td>@Html.DisplayFor(Model => Model.Arrival.Amount) @SharedLocalizer.GetLocalizedHtmlString("l")</td>
        }
        else if (Model.Arrival.ItemType.Install_Unit.TheUnit.Equals("pr. m"))
        {
            <td>@Html.DisplayFor(Model => Model.Arrival.Amount) @SharedLocalizer.GetLocalizedHtmlString("m")</td>
        }
        else
        {
            <td>@Html.DisplayFor(Model => Model.Arrival.Amount) @Html.DisplayFor(Model => Model.Arrival.ItemType.Install_Unit.TheUnit)</td>
        }
    </tr>
    <tr>
        <td style="text-align:left;"><b>@Html.DisplayNameFor(Model => Model.Arrival.Latitude)</b></td>
        <td>@Html.DisplayFor(Model => Model.Arrival.Latitude)</td>
    </tr>
    <tr>
        <td style="text-align:left;"><b>@Html.DisplayNameFor(Model => Model.Arrival.Longitude)</b></td>
        <td>@Html.DisplayFor(Model => Model.Arrival.Longitude)</td>
    </tr>

    <tr>
        <td colspan="3"><b>@Html.DisplayNameFor(Model => Model.Arrival.Arrival_Text)</b></td>
    </tr>
    <tr rowspan="20">
        <td colspan="3">
            <textarea rows="8" cols="64" class="form-control" style="width:100%;">@Html.DisplayFor(Model => Model.Arrival.Arrival_Text)</textarea>
        </td>
    </tr>
</table>

<table name="phototable" style="page-break-inside:avoid;">
    @{ var rows = 0;}
    @if (Model.Arrival_Photos.Count() % 3 == 0)
    {
        rows = Model.Arrival_Photos.Count() / 3;
    }
    else
    {
        rows = Convert.ToInt32(Model.Arrival_Photos.Count() / 3) + 1;
    }
    @{ var totalpics = Model.Arrival_Photos.Count();}
    @for (int i = 0; i < rows; i++)
    {

        @if (totalpics - 3 >= 0) //enough room to add whole row
        {
            var photo1 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3);
            var photo2 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3 + 1);
            var photo3 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3 + 2);

            <tr>
                <td><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                <td><img src="@String.Concat("/AHAK/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                <td><img src="@String.Concat("/AHAK/", @String.Concat(photo3.Path.Split(".")[0], "_edit.", photo3.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
            </tr>
            totalpics -= 3;
        }
        else if (totalpics - 2 >= 0)
        {
            var photo1 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3);
            var photo2 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3 + 1);
            <tr>
                <td><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                <td><img src="@String.Concat("/AHAK/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                <td></td>
            </tr>
            totalpics -= 2;
        }
        else //enough room to add 1 picture in row
        {
            var photo1 = Model.Arrival_Photos.ElementAt((i + 1) * 3 - 3);
            <tr>
                <td colspan="3"><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
            </tr>
            totalpics -= 1;
        }

    }
</table>