@model MainOps.Models.SummaryReport
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedLocalizer.GetLocalizedHtmlString("Daily Summary Report")</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>
<div class="row">
    <div class="col-xs-12">
        <table style="width:100%;">
            <tr>
                <td>
                    <b>@SharedLocalizer.GetLocalizedHtmlString("Daily Report Summary")</b>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(modelItem => Model.Project.Name)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Project.Name) @if (Model.SubProjectId != null)
                    {<text> - @Model.SubProject.Name</text>}
                </td>
                <td rowspan="3" align="right"><img src="~/images/Divisions/Photos/@Model.Project.Division.Id/@Model.Project.Division.LogoPath" width="151" height="66" /></td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(modelItem => Model.Project.ProjectNr)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Project.ProjectNr)
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(modelItem => Model.Project.Client)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Project.Client)
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(Model => Model.Report_Date)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.Report_Date)
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(modelItem => Model.People)
                    </b>
                </td>
                <td>
                    @{
                        int count = 0;
                    }
                    @foreach (var item in Model.People.Split(Environment.NewLine))
                    {
                        count += 1;
                    }
                    @Html.Raw(Model.People)
                    @*<textarea asp-for="People" cols="30" rows="@count.ToString()" style="border:none;"></textarea>*@
                </td>
                <td></td>
            </tr>

            <tr>
                <td colspan="3" style="text-align:left;">
                    @if (Model.TheDailyText != null && Model.TheDailyText != "")
                    {
                        @Html.Raw(Model.TheDailyText)
                    }
                    else
                    {
                        @Html.DisplayFor(Model => Model.TheDailyText)
                    }
                    @*<textarea asp-for="TheDailyText" cols="120" rows="30" style="border:none;"></textarea>*@
                </td>
            </tr>
        </table>
        <table style="width:100%;page-break-inside:avoid;">
            <tr><td colspan="4" style="font-size:18px;"><b>@SharedLocalizer.GetLocalizedHtmlString("Daily Reports")</b></td></tr>
            <tr style="border-bottom:solid">
                <td><b>@SharedLocalizer.GetLocalizedHtmlString("Title")</b></td>
                <td><b>@SharedLocalizer.GetLocalizedHtmlString("Total Hours")</b></td>
                <td><b>@SharedLocalizer.GetLocalizedHtmlString("Total Downtime")</b></td>
            </tr>
            @foreach (var item in Model.Daily_Reports.GroupBy(x => x.TitleId))
            {
                var theamount = Model.Daily_Reports.Where(x => x.TitleId.Equals(item.First().TitleId)).Sum(x => x.Amount);
                var thecount = Model.Daily_Reports.Where(x => x.TitleId.Equals(item.First().TitleId)).Sum(x => x.Hours.TotalMinutes / 60.0 * x.Amount);
                var downtimecount = Model.Daily_Reports.Where(x => x.TitleId.Equals(item.First().TitleId) && x.StandingTime != null).Sum(x => x.StandingTime.Value.TotalHours * x.Amount);
                var machinery = "";
                foreach (var dr in Model.Daily_Reports.Where(x => x.TitleId.Equals(item.First().TitleId)))
                {
                    if (dr.Machinery != null)
                    {
                        if (machinery == "")
                        {
                            machinery += dr.Machinery.Replace("None", "");
                        }
                        else
                        {
                            machinery = String.Concat(machinery, ",", dr.Machinery.Replace("None", ""));
                        }
                    }

                }
                <tr>
                    <td style="text-align:left;">@theamount X @item.First().Title.TheTitle</td>
                    <td>@thecount</td>
                    <td>@machinery.Replace(",,", ",")</td>
                    <td>@downtimecount</td>
                </tr>
            }
            @if (Model.Mobilizations.Count > 0)
            {
                <tr><td colspan="3" style="font-size:18px;"><b>@SharedLocalizer.GetLocalizedHtmlString("Mobilisations")</b></td></tr>
                <tr style="border-bottom:solid">
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Equipment")</b></td>
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Amount")</b></td>
                    <td colspan="2"></td>
                </tr>
                @foreach (var item in Model.Mobilizations.GroupBy(x => x.ItemTypeId))
                {
                    var thecount = Model.Mobilizations.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId)).Sum(x => x.Amount);
                    <tr>
                        <td td style="text-align:left;">@item.First().ItemType.Item_Type</td>
                        <td>@thecount @item.First().ItemType.Install_Unit.TheUnit.Replace("pr.", "")</td>
                        <td colspan="2"></td>
                    </tr>
                }
            }
            @if (Model.Arrivals.Count > 0)
            {


                <tr><td colspan="3" style="font-size:18px;"><b>@SharedLocalizer.GetLocalizedHtmlString("Arrivals")</b></td></tr>
                <tr style="border-bottom:solid">
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Equipment")</b></td>
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Amount")</b></td>
                    <td colspan="2"><b>@SharedLocalizer.GetLocalizedHtmlString("IDs")</b></td>
                </tr>
                @foreach (var item in Model.Arrivals.GroupBy(x => x.ItemTypeId))
                {
                    var thecount = Model.Arrivals.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId)).Sum(x => x.Amount);
                    <tr>
                        <td td style="text-align:left;">@item.First().ItemType.Item_Type</td>
                        <td>@thecount @item.First().ItemType.Install_Unit.TheUnit.Replace("pr.", "")</td>
                        <td colspan="2">@String.Join(",",Model.Arrivals.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId) && x.UniqueID != "N/A").Select(y => y.UniqueID).ToArray())</td>
                    </tr>
                }
            }
            @if (Model.Installations.Count > 0)
            {


                <tr><td colspan="3" style="font-size:18px;"><b>@SharedLocalizer.GetLocalizedHtmlString("Installations")</b></td></tr>
                <tr style="border-bottom:solid">
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Equipment")</b></td>
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Amount")</b></td>
                    <td colspan="2"><b>@SharedLocalizer.GetLocalizedHtmlString("IDs")</b></td>
                </tr>
                @foreach (var item in Model.Installations.GroupBy(x => x.ItemTypeId))
                {
                    var thecount = Model.Installations.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId)).Sum(x => x.Amount);
                    <tr>
                        <td td style="text-align:left;">@item.First().ItemType.Item_Type</td>
                        <td>@thecount @item.First().ItemType.Install_Unit.TheUnit.Replace("pr.", "")</td>
                        <td colspan="2">@String.Join(",", Model.Installations.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId) && x.UniqueID != "N/A").Select(y => y.UniqueID).ToArray())</td>
                    </tr>
                }
            }
            @if (Model.Deinstallations.Count > 0)
            {


                <tr><td colspan="3" style="font-size:18px;"><b>@SharedLocalizer.GetLocalizedHtmlString("DeInstallations")</b></td></tr>
                <tr style="border-bottom:solid;text-align:left;">
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Equipment")</b></td>
                    <td><b>@SharedLocalizer.GetLocalizedHtmlString("Amount")</b></td>
                    <td colspan="2"><b>@SharedLocalizer.GetLocalizedHtmlString("IDs")</b></td>
                </tr>
                @foreach (var item in Model.Deinstallations.GroupBy(x => x.ItemTypeId))
                {
                    var thecount = Model.Deinstallations.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId)).Sum(x => x.Amount);
                    <tr>
                        <td td style="text-align:left;">@item.First().ItemType.Item_Type</td>
                        <td>@thecount @item.First().ItemType.Install_Unit.TheUnit.Replace("pr.", "")</td>
                        <td colspan="2">@String.Join(",", Model.Deinstallations.Where(x => x.ItemTypeId.Equals(item.First().ItemTypeId) && x.Install.UniqueID != "N/A").Select(y => y.Install.UniqueID).ToArray())</td>
                    </tr>
                }
            }
        </table>
        <table style="width:100%;page-break-inside:avoid">
            <tr style="border-top:solid;border-bottom:solid">
                <td style="width:10%;"><label asp-for="SignatureHJDateTime"></label></td>
                <td style="width:40%;"><label asp-for="signatureHJ"></label></td>
                <td style="width:10%;"><label asp-for="SignatureClientDateTime"></label></td>
                <td style="width:40%;"><label asp-for="signatureClient"></label></td>
            </tr>
            <tr>
                <td style="width:10%;height:150px;">@Html.DisplayFor(Model => Model.SignatureHJDateTime)</td>
                <td style="width:40%">
                    <img id="signaturehj" src="data:image/jpg;base64, @Model.signatureHJ" style="width:100%;">
                </td>
                <td style="width:10%;height:150px;"><canvas height="150" style="width:100%;"></canvas></td>
                <td style="width:40%;"><canvas height="150" style="width:100%;"></canvas></td>
            </tr>
        </table>
    </div>
</div>
@if (Model.ShowDailyReports)
{
    <div class="row" style="page-break-before:always !important">
        @foreach (var item in Model.Daily_Reports)
        {
            <table style="page-break-inside:avoid;">
                <tr>
                    <td colspan="3">
                        <b>@SharedLocalizer.GetLocalizedHtmlString("Daily Report")</b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.Project.Name)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td rowspan="4" align="right"><img src="~/images/Divisions/Photos/@item.Project.DivisionId/@item.Project.Division.LogoPath" width="151" height="66" /></td>
                </tr>
                @if (item.SubProjectId != null)
                {
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @SharedLocalizer.GetLocalizedHtmlString("Sub Project Name")
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubProject.Name)
                        </td>
                    </tr>
                }
                @if (Model.SubProjectId == null)
                {
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @Html.DisplayNameFor(modelItem => item.Project.ProjectNr)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.ProjectNr)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @Html.DisplayNameFor(modelItem => item.Project.Client)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Client)
                        </td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @Html.DisplayNameFor(modelItem => item.SubProject.SubProjectNr)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubProject.SubProjectNr)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @Html.DisplayNameFor(modelItem => item.SubProject.ClientContact)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubProject.ClientContact)
                        </td>

                    </tr>
                }
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.short_Description)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.short_Description)
                    </td>
                </tr>

                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.Report_Date)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Report_Date)
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.StartHour)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartHour)
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.EndHour)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndHour)
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.Amount)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
                @try
                {
                    <tr>
                        <td style="text-align:left;">
                            <b>
                                @Html.DisplayNameFor(modelItem => item.Title.TheTitle)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title.TheTitle)
                        </td>
                    </tr>
                }
                catch
                {

                }
                <tr>
                    <td style="text-align:left;">
                        <b>
                            @Html.DisplayNameFor(modelItem => item.DoneBy)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoneBy)
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><b>@Html.DisplayNameFor(modelItem => item.Work_Performed)</b></td>
                </tr>
                <tr rowspan="20">
                    <td colspan="3">
                        @if (item.Work_Performed != null && item.Work_Performed != "")
                        {
                            @Html.Raw(item.Work_Performed.Replace("\r\n", "<br />"))
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Work_Performed)
                        }
                    </td>
                </tr>
            </table>

            <table name="phototable" style="page-break-inside:avoid;width:100%;table-layout:fixed;">
                @{ var rows = 0;}
                @if (item.pictures.Count % 3 == 0)
                {
                    rows = item.pictures.Count() / 3;
                }
                else
                {
                    rows = Convert.ToInt32(item.pictures.Count() / 3) + 1;
                }
                @{ var totalpics = item.pictures.Count();}
                @for (int i = 0; i < rows; i++)
                {
                    @if (totalpics - 3 >= 0) //enough room to add whole row
                    {
                        <tr>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3]" style="width:100%;" /></td>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3 + 1]" style="width:100%;" /></td>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3 + 2]" style="width:100%;" /></td>
                        </tr>
                        totalpics -= 3;
                    }
                    else if (totalpics - 2 >= 0)
                    {
                        <tr>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3]" style="width:100%;" /></td>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3 + 1]" style="width:100%;" /></td>
                            <td style="width:100%;"></td>
                        </tr>
                        totalpics -= 2;
                    }
                    else //enough room to add 1 picture in row
                    {
                        <tr>
                            <td style="width:100%;"><img src="~/AHAK/DailyReports/@item.Id.ToString()/@item.pictures[(i + 1) * 3 - 3]" style="width:100%;" /></td>
                            <td style="width:100%;"></td>
                            <td style="width:100%;"></td>
                        </tr>
                        totalpics -= 1;
                    }

                }
            </table>

        }
    </div>
}