@model MainOps.Models.SensorsCheck
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedLocalizer.GetLocalizedHtmlString("Sensors Check")</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>

<div>
    <table style="page-break-inside:avoid;">
        <tr>
            <td colspan="3">
                <b>@SharedLocalizer.GetLocalizedHtmlString("Sensors Check")</b>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Project.Name)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Project.Name)
            </td>
            <td rowspan="4" align="right"><img src="~/images/Divisions/Photos/@Model.Project.Division.Id/@Model.Project.Division.LogoPath" width="151" height="66" /></td>
        </tr>

        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Project.ProjectNr)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Project.ProjectNr)
            </td>
        </tr>
        @if (Model.SubProjectId != null)
        {
            <tr>
                <td style="text-align:left;">
                    <b>
                        @Html.DisplayNameFor(Model => Model.SubProject.Name)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.SubProject.Name) : @Html.DisplayFor(Model => Model.SubProject.SubProjectNr)
                </td>
            </tr>
        }
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Project.Client)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Project.Client)
            </td>

        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.TimeStamp)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.TimeStamp.Date)
            </td>
        </tr>
    </table>
    <h2>@SharedLocalizer.GetLocalizedHtmlString("Inlet")</h2>
    <table>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_SCADA_Inlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Turbidity_SCADA_Inlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_SCADA_Inlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.PH_SCADA_Inlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_SCADA_Inlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Conductivity_SCADA_Inlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_Cleaned_Inlet)</b></td>
            @if (Model.Turbidity_Cleaned_Inlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_Cleaned_Inlet)</b></td>
            @if (Model.PH_Cleaned_Inlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_Cleaned_Inlet)</b></td>
            @if (Model.Conductivity_Cleaned_Inlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_SCADA_Inlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Turbidity_SCADA_Inlet_After)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_SCADA_Inlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.PH_SCADA_Inlet_After)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_SCADA_Inlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Conductivity_SCADA_Inlet_After)</td>
        </tr>

        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_Calibrated_Inlet)</b></td>
            @if (Model.PH_Calibrated_Inlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Closed_Bypass_Valve_Inlet)</b></td>
            @if (Model.Closed_Bypass_Valve_Inlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
    </table>
    <h2>@SharedLocalizer.GetLocalizedHtmlString("Outlet")</h2>
    <table>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_SCADA_Outlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Turbidity_SCADA_Outlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_SCADA_Outlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.PH_SCADA_Outlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_SCADA_Outlet)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Conductivity_SCADA_Outlet)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_Cleaned_Outlet)</b></td>
            @if (Model.Turbidity_Cleaned_Outlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_Cleaned_Outlet)</b></td>
            @if (Model.PH_Cleaned_Outlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_Cleaned_Outlet)</b></td>
            @if (Model.Conductivity_Cleaned_Outlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Turbidity_SCADA_Outlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Turbidity_SCADA_Outlet_After)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_SCADA_Outlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.PH_SCADA_Outlet_After)</td>
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Conductivity_SCADA_Outlet_After)</b></td>
            <td colspan="2" style="width:50%">@Html.DisplayFor(model => model.Conductivity_SCADA_Outlet_After)</td>
        </tr>

        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.PH_Calibrated_Outlet)</b></td>
            @if (Model.PH_Calibrated_Outlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
        <tr>
            <td style="width:50%"><b>@Html.DisplayNameFor(model => model.Closed_Bypass_Valve_Outlet)</b></td>
            @if (Model.Closed_Bypass_Valve_Outlet == true)
            {
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("Yes")</span_circle></td>
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("No")</td>
            }
            else
            {
                <td style="width:25%">@SharedLocalizer.GetLocalizedHtmlString("Yes")</td>
                <td style="width:25%"><span_circle>@SharedLocalizer.GetLocalizedHtmlString("No")</span_circle></td>
            }
        </tr>
    </table>
    <table style="width:100%;page-break-inside:avoid;">
        @if (Model.GeneralComments != null)
        {
            <tr>
                <td colspan="2"><b>@Html.DisplayNameFor(model => model.GeneralComments)</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea disabled="disabled" class="form-control" style="width:100%;" rows="6" cols="50">@Html.DisplayFor(x => x.GeneralComments)</textarea>
                </td>
            </tr>
        }
        <tr>
            <td style="width:25%;"><b>@Html.DisplayNameFor(model => model.DoneBy)</b></td>
            <td style="width:75%;text-align:center;">@Html.DisplayFor(model => model.DoneBy)</td>

        </tr>
        <tr>
            <td style="width:25%;"><b>@Html.DisplayNameFor(model => model.Signature)</b></td>
            <td style="width:75%;"><img src="data:image/jpg;base64, @Model.Signature" style="width:100%;"></td>
        </tr>
    </table>
    <table name="phototable" style="page-break-inside:avoid;">
        @{ var rows = 0;}
        @if (Model.Photos.Count() % 3 == 0)
        {
            rows = Model.Photos.Count() / 3;
        }
        else
        {
            rows = Convert.ToInt32(Model.Photos.Count() / 3) + 1;
        }
        @{ var totalpics = Model.Photos.Count();}
        @for (int i = 0; i < rows; i++)
        {

            @if (totalpics - 3 >= 0) //enough room to add whole row
            {
                var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
                var photo2 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 1);
                var photo3 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 2);

                <tr>
                    <td><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                    <td><img src="@String.Concat("/AHAK/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                    <td><img src="@String.Concat("/AHAK/", @String.Concat(photo3.Path.Split(".")[0], "_edit.", photo3.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                </tr>
                totalpics -= 3;
            }
            else if (totalpics - 2 >= 0)
            {
                var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
                var photo2 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 1);
                <tr>
                    <td><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                    <td><img src="@String.Concat("/AHAK/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                    <td></td>
                </tr>
                totalpics -= 2;
            }
            else //enough room to add 1 picture in row
            {
                var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
                <tr>
                    <td colspan="3"><img src="@String.Concat("/AHAK/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/AHAK/")[1])" /></td>
                </tr>
                totalpics -= 1;
            }

        }
    </table>
</div>
