@model MainOps.Models.DeInstall

@{
    ViewData["Title"] = "Edit_DeInstall";
}

<h2>Edit_DeInstall</h2>

<h4>DeInstall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_DeInstall">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @Html.HiddenFor(Model => Model.EnteredIntoDataBase)
            @Html.HiddenFor(Model => Model.LastEditedInDataBase)
            @Html.HiddenFor(Model  => Model.InstallId)
            @Html.HiddenFor(Model => Model.DoneBy)
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="FillSubProjects();"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubProjectId" class="control-label"></label>
                <select asp-for="SubProjectId" class="form-control" asp-items="ViewBag.SubProjectId"></select>
                <span asp-validation-for="SubProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypeId"></select>
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeInstall_Text" class="control-label"></label>
                <input asp-for="DeInstall_Text" class="form-control" />
                <span asp-validation-for="DeInstall_Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="TimeStamp" class="control-label">@SharedLocalizer.GetLocalizedHtmlString(@Html.DisplayNameFor(Model => Model.TimeStamp))</label>

                <input type="text" class="date-picker" asp-for="TimeStamp" id="thetime" style="width:100%;height:40px;" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MainMenu">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }
                }
            });
        }
        
        

    </script>
}