@model MainOps.Models.TrackItem

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.TAGnr</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>

<body>
    <font size="4">
        <div class="col-md-5">
            <table border="1" style="margin-bottom:2cm;margin-right:1cm;margin-left:1cm;page-break-inside:avoid;">
                <tbody>
                    <tr>
                        <td width="240" colspan="2" rowspan="2" align="left"><img src="~/images/Divisions/Photos/@Model.Project.Division.Id/@Model.Project.Division.LogoPath" height="80" /></td>
                        <td rowspan="5" width="120" align="center"><img src='@Url.Action("GetQR4","HJItems",new { Id = Model.Id })' alt="" height="140" /></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td align="center" height="40" width="90" style="border-width:thin;border-style:solid;"><b>@Html.DisplayNameFor(modelItem => Model.TAGnr)</b></td>
                        <td align="center" height="40" width="150" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => Model.TAGnr)</td>
                    </tr>
                    <tr>
                        <td align="center" height="40" width="90" style="border-width:thin;border-style:solid;"><b>@Html.DisplayNameFor(modelItem => Model.PIDnr)</b></td>
                        <td align="center" height="40" width="150" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => Model.PIDnr)</td>
                    </tr>
                    <tr>
                        <td align="center" height="40" width="90" style="border-width:thin;border-style:solid;"><b>@Html.DisplayNameFor(modelItem => Model.RUMnr)</b></td>
                        <td align="center" height="40" width="150" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => Model.RUMnr)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </font>
</body>
</html>