@model MainOps.Models.Mobilize
@{
    ViewData["Title"] = "Delete";
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Delete")</h2>

<h3>@SharedLocalizer.GetLocalizedHtmlString("Are you sure you want to delete this?")</h3>
<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Mobilization")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemType.Item_Type)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

    <form asp-action="Delete_Mobilization">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |

    </form>
    <div>
        <a asp-action="MainMenu">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
    </div>
</div>
