@model MainOps.Models.SensorCalibrationVM
@{
    ViewData["Title"] = "Sensor Calibration";
}
<style>
    .border-top-grey {
        border-top: 1px solid #dee2e6;
    }

    .custom-radio {
        display: flex;
        align-items: center;
        gap: 10rem;
    }
    
    .custom-radio input[type="radio"] {
        display: none;
    }
    
    .custom-radio label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        user-select: none;
    }
    
    .custom-radio label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 25px;
        height: 25px;
        border: 2px solid #555;
        border-radius: 3px;
        background-color: white;
    }
    
    .custom-radio input[type="radio"]:checked + label::after {
        /*content: "✓";*/
        content: "X";
        position: absolute;
        left: 4px;
        top: -4px; /* -1px; */
        font-size: 25px;
        color: black; /* green; */
    }
</style>

<h2>@SharedLocalizer.GetLocalizedHtmlString("Sensor Calibration")</h2>
<div class="row">
    <div class="col-xs-12">
        <form asp-action="SensorCalibration" asp-controller="TrackItems" id="theform" method="post" onsubmit="retrieveData(event);" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td><label asp-for="ProjectId" class="control-label"></label></td>
                    <td>
                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="FillWells();" style="width:100%;">
                            <option value="">@SharedLocalizer.GetLocalizedHtmlString("Please Select Project")</option>
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </td>
                </tr>
                @* <tr>
                    <td><label asp-for="SubProjectId" class="control-label"></label></td>
                    <td>
                        <select asp-for="SubProjectId" class="form-control" onchange="GetWellsSubProject();" style="width:100%;">
                            <option value="">@SharedLocalizer.GetLocalizedHtmlString("No Sub Projects")</option>
                        </select>
                    </td>
                </tr> *@
                <tr>
                    <td><label asp-for="WellId" class="control-label"></label></td>
                    <td>
                        <select asp-for="WellId" class="form-control" style="width:100%;">
                            <option value="">@SharedLocalizer.GetLocalizedHtmlString("Please Select Well")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="TimeStamp" class="control-label">@SharedLocalizer.GetLocalizedHtmlString(@Html.DisplayNameFor(Model => Model.TimeStamp))</label></td>
                    <td>
                        <input type="datetime" class="date-picker" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" asp-for="TimeStamp" id="thetime" style="width:100%;height:36px;" />
                        <span asp-validation-for="TimeStamp" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="RefLevel" class="control-label"></label></td>
                    <td><input asp-for="RefLevel" id="refLevel" oninput="GetDiff()" placeholder="0" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Hand_dip" class="control-label"></label></td>
                    <td><input asp-for="Hand_dip" id="handDip" oninput="GetDiff()" placeholder="0" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="ExpectedWaterlevel" class="control-label"></label></td>
                    <td><input asp-for="ExpectedWaterlevel" id="waterLevel" placeholder="0" class="form-control" style="width:100%;" readonly /></td>
                </tr>
                <tr>
                    <td><label asp-for="ScadaWaterlevel" class="control-label"></label></td>
                    <td><input asp-for="ScadaWaterlevel" id="scadaWaterLevel" oninput="GetDiff()" placeholder="0" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="SCADA_LevelMatch" class="control-label"></label></td>
                 
                    <td>
                        <div class="custom-radio">
                            <input type="radio" asp-for="SCADA_LevelMatch" id="levelMatchOK" value="true" checked />
                            <label for="levelMatchOK" class="control-label">Yes</label>

                            <input type="radio" asp-for="SCADA_LevelMatch" id="levelMatchtNotOK" value="false" />
                            <label for="levelMatchtNotOK">No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Comment" class="control-label"></label></td>
                    <td><input asp-for="Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label>@SharedLocalizer.GetLocalizedHtmlString("Upload pictures")</label></td>
                    <td><input type="file" name="files" multiple accept=".jpg,.jpeg,.png" style="width:100%" /></td>
                </tr>
                <tr>
                    <td colspan="2"><b>@SharedLocalizer.GetLocalizedHtmlString("Signature")</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <canvas width="330" height="150" id="signature" style="border:1px solid blue;"></canvas>
                    </td>
                </tr>
                <tr>
                    <td style="width:45%">
                        <button type="button" id="accept" class="btn-hoelscher" style="width:100%;height:40px;">@SharedLocalizer.GetLocalizedHtmlString("Accept signature")</button>
                    </td>
                    <td style="width:45%">
                        <button type="button" id="clear" class="btn-hoelscher" style="width:100%;height:40px;">@SharedLocalizer.GetLocalizedHtmlString("Clear signature")</button>
                        <input type="text" id="signaturedata" hidden="hidden" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img width="80" height="60" id="savetarget" hidden="hidden" style="border:1px solid black">
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Submit")" class="btn-hoelscher" style="width:100%;height:70px;" />
            </div>
            <input asp-for="Signature" value="" hidden="hidden" />
        </form>
    </div>
</div>
<div>
    <a asp-action="MainMenu">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/js/signature_pad.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">


        // var pad = null;
        // var id;
        // var myLat;
        // var myLng;

        // if (navigator.geolocation) {
        //     id = navigator.geolocation.watchPosition(function (position) {
        //         myLat = position.coords.latitude;
        //         myLng = position.coords.longitude;
        //         getPos(myLat, myLng);
        //     },
        //         function (error) {
        //             if (error.code == error.PERMISSION_DENIED) {
        //                 //alert("error");
        //             }

        //         }, { maximumAge: 0, timeout: 8000, enableHighAccuracy: true });
        // }
        // function getPos(lat, lng) {
        //     $("#latinput").val(lat);
        //     $("#longinput").val(lng);
        // }



        $(document).ready(function () {
                $(function () {
                    //FillSubProjects();
                    FillWells();
                    $(".date-picker").datetimepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-100:+0",
                        dateFormat: "dd-MM-yy",
                        timeFormat: "HH:mm",
                        controlType: 'select',
                        firstDay: 1

                    });
                    $('.date-picker').datetimepicker("setDate", new Date());
                });

            });

        $(document).ready(function () {
            $(function () {
                var canvas = document.querySelector("#signature");
                pad = new SignaturePad(canvas);
                $('#accept').click(function () {
                    var data = pad.toDataURL();
                    $('#savetarget').attr('src', data);
                    var base64signature = data.split(',')[1];
                    $('#signaturedata').val(base64signature);
                    });
                    $('#clear').click(function () {
                        pad.clear();
                    })

            })
        });

        function retrieveData(e) {
            var posting = true;
            var s1 = document.getElementById("Signature");
            var signature = "";
            signature = document.getElementById("signaturedata").value;
            s1.value = signature;
            if (signature == "") {
                posting = false;
                e.preventDefault();
                alert("Please sign the report!");
            }
            if ($("#theform").valid() == false) {
                posting = false;
            }
            if (posting == true) {
                StartSpinner();
            }
        }

        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }

                    FillWells();
                }
            });
        }

        function GetDiff() {
            const refLevel = parseFloat(document.getElementById("refLevel").value) || 0;
            const handDip = parseFloat(document.getElementById("handDip").value) || 0;
            const scadaWaterLevel = parseFloat(document.getElementById("scadaWaterLevel").value) || 0;

            const result = refLevel - handDip;

            // Format to 1 decimal places
            const formattedResult = result.toFixed(2);

            const waterLevelInput = document.getElementById("waterLevel");
            waterLevelInput.value = formattedResult;
            const matchOnlineScada = (scadaWaterLevel - result).toFixed(2);

            // Change background color based on result
            if (parseFloat(matchOnlineScada) === 0) {
                waterLevelInput.style.backgroundColor = "lightgreen";
            } else {
                waterLevelInput.style.backgroundColor = "lightcoral";
            }
        }

        function FillWells() {
                var ProjectId = $('#ProjectId').val();
                var url = '@Url.Action("GetMeasPointsProjectLevel2", "TrackItems")';

                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'json',
                    data: { 'theId': ProjectId },
                    success: function (data) {
                        var s = '<option value="">Please Select Well</option>';
                        // if (lang == "de-DE") {
                        //     s = '<option value="">Bitte gewarteten Punkt auswählen</option>';
                        // }

                        for (var prop in data) {
                            var value = data[prop]["value"];
                            var text = data[prop]["text"];

                             s += '<option value="' + value + '">' + text + '</option>';
                             console.log('Well: ' + value + ' ' + text);
                        }

                        $("#WellId").html(s);
                        document.getElementById("WellId").style.width = "100%";
                    }
                });
        }

         function GetWellsSubProject() {
                var SubProjectId = $("#SubProjectId").val();
                var url = '@Url.Action("GetWellsSubProject", "TrackItems")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'json',
                    data: {
                        'theId': SubProjectId,
                    },
                    success: function (data) {
                        var s = '<option value="">Please Select Well</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["value"] + '">' + data[prop]["text"] + '</option>';
                        }
                        $("#WellId").html(s);
                        document.getElementById("WellId").style.width = "100%";
                    }
                });
            }

    </script>
}