@model MainOps.Models.WTPCheck
@{
    ViewData["Title"] = "WTPCheck";
}
<div class="row">
    <div class="col-xs-12">
        <form asp-action="WTPCheck" asp-controller="TrackItems" id="theform" method="post" onsubmit="retrieveData(event);" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td><label asp-for="ProjectId" class="control-label"></label></td>
                    <td>
                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="FillSubProjects();" style="width:100%;">
                            <option value="">@SharedLocalizer.GetLocalizedHtmlString("Please Select Project")</option>
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="SubProjectId" class="control-label"></label></td>
                    <td>
                        <select asp-for="SubProjectId" class="form-control" style="width:100%;">
                            <option value="">@SharedLocalizer.GetLocalizedHtmlString("No Sub Projects")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="TimeStamp" class="control-label"></label></td>
                    <td><input asp-for="TimeStamp" type="datetime" class="date-picker" value="@DateTime.Now" style="width:100%;" /><span asp-validation-for="TimeStamp" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Leakages" class="control-label"></label></td>
                    <td>
                        <select asp-for="Leakages" class="form-control" style="width:100%;">
                            <option value="No">@SharedLocalizer.GetLocalizedHtmlString("No")</option>
                            <option value="Yes">@SharedLocalizer.GetLocalizedHtmlString("Yes")</option>
                            <option value="Not Applicable">@SharedLocalizer.GetLocalizedHtmlString("Not Applicable")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Leakages_Comment" class="control-label"></label></td>
                    <td><input asp-for="Leakages_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Pressures" class="control-label"></label></td>
                    <td>
                        <select asp-for="Pressures" class="form-control" style="width:100%;">
                            <option value="No">@SharedLocalizer.GetLocalizedHtmlString("No")</option>
                            <option value="Yes">@SharedLocalizer.GetLocalizedHtmlString("Yes")</option>
                            <option value="Not Applicable">@SharedLocalizer.GetLocalizedHtmlString("Not Applicable")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Preassures_Comment" class="control-label"></label></td>
                    <td><input asp-for="Preassures_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Tanks" class="control-label"></label></td>
                    <td>
                        <select asp-for="Tanks" class="form-control" style="width:100%;">
                            <option value="No">@SharedLocalizer.GetLocalizedHtmlString("No")</option>
                            <option value="Yes">@SharedLocalizer.GetLocalizedHtmlString("Yes")</option>
                            <option value="Not Applicable">@SharedLocalizer.GetLocalizedHtmlString("Not Applicable")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Tanks_Comment" class="control-label"></label></td>
                    <td><input asp-for="Tanks_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Suction_Tank" class="control-label"></label></td>
                    <td><input asp-for="Suction_Tank" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Suction_Tank_Comment" class="control-label"></label></td>
                    <td><input asp-for="Suction_Tank_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Clear_Water_Pump" class="control-label"></label></td>
                    <td><input asp-for="Clear_Water_Pump" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Clear_Water_Pump_Comment" class="control-label"></label></td>
                    <td><input asp-for="Clear_Water_Pump_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Filters_Operation" class="control-label"></label></td>
                    <td><input asp-for="Filters_Operation" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Filters_Operation_Comment" class="control-label"></label></td>
                    <td><input asp-for="Filters_Operation_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Valves" class="control-label"></label></td>
                    <td><input asp-for="Valves" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Valves_Comment" class="control-label"></label></td>
                    <td><input asp-for="Valves_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Heating" class="control-label"></label></td>
                    <td><input asp-for="Heating" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Heating_Comment" class="control-label"></label></td>
                    <td><input asp-for="Heating_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Water_Clear" class="control-label"></label></td>
                    <td><input asp-for="Water_Clear" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Water_Clear_Comment" class="control-label"></label></td>
                    <td><input asp-for="Water_Clear_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="FlowMeters" class="control-label"></label></td>
                    <td><input asp-for="FlowMeters" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="FlowMeters_Comment" class="control-label"></label></td>
                    <td><input asp-for="FlowMeters_Comment" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Comment:")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="GeneralComments"></label></td>
                    <td><textarea asp-for="GeneralComments" rows="6" cols="50" style="width:100%;"></textarea></td>
                </tr>
                <tr>
                    <td><label>@SharedLocalizer.GetLocalizedHtmlString("Upload pictures")</label></td>
                    <td><input type="file" name="files" multiple accept=".jpg,.jpeg,.png" style="width:100%" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Latitude" class="control-label"></label></td>
                    <td><input asp-for="Latitude" id="latinput" readonly="readonly" style="width:100%;"/></td>
                </tr>
                <tr>
                    <td><label asp-for="Longitude" class="control-label"></label></td>
                    <td><input asp-for="Longitude" id="longinput" readonly="readonly" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td colspan="2"><b>@SharedLocalizer.GetLocalizedHtmlString("Signature")</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <canvas width="330" height="150" id="signature" style="border:1px solid blue;"></canvas>
                    </td>
                </tr>
                <tr>
                    <td style="width:45%">
                        <button type="button" id="accept" class="btn-hoelscher" style="width:100%;height:40px;">@SharedLocalizer.GetLocalizedHtmlString("Accept signature")</button>
                    </td>
                    <td style="width:45%">
                        <button type="button" id="clear" class="btn-hoelscher" style="width:100%;height:40px;">@SharedLocalizer.GetLocalizedHtmlString("Clear signature")</button>
                        <input type="text" id="signaturedata" hidden="hidden" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img width="80" height="60" id="savetarget" hidden="hidden" style="border:1px solid black">
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Submit")" class="btn-hoelscher" style="width:100%;height:70px;" />
            </div>
            <input asp-for="Signature" value="" hidden="hidden" />
        </form>
    </div>
</div>
<div>
    <a asp-action="MainMenu">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/js/signature_pad.min.js"></script>
    <script type="text/javascript">
        var pad = null;
        var id;
        var myLat;
        var myLng;

        if (navigator.geolocation) {
            id = navigator.geolocation.watchPosition(function (position) {
                myLat = position.coords.latitude;
                myLng = position.coords.longitude;
                getPos(myLat, myLng);
            },
                function (error) {
                    if (error.code == error.PERMISSION_DENIED) {
                        //alert("error");
                    }

                }, { maximumAge: 0, timeout: 8000, enableHighAccuracy: true });
        }
        function getPos(lat, lng) {
            $("#latinput").val(lat);
            $("#longinput").val(lng);
        }
        $(document).ready(function () {
            $(function () {
                $(".date-picker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: "dd-MM-yy",
                    controlType: 'select',
                    firstDay: 1
                });
                $('.date-picker').datepicker("setDate", new Date("dd-MM-yy"));
                FillSubProjects();
            });
        });
        $(document).ready(function () {
            $(function () {
                var canvas = document.querySelector("#signature");
                pad = new SignaturePad(canvas);
                $('#accept').click(function () {
                    var data = pad.toDataURL();
                    $('#savetarget').attr('src', data);
                    var base64signature = data.split(',')[1];
                    $('#signaturedata').val(base64signature);
                    });
                    $('#clear').click(function () {
                        pad.clear();
                    })

            })
        });
        function retrieveData(e) {
            var posting = true;
            var s1 = document.getElementById("Signature");
            var signature = "";
            signature = document.getElementById("signaturedata").value;
            s1.value = signature;
            if (signature == "") {
                posting = false;
                e.preventDefault();
                alert("Please sign the report!");
            }
            if ($("#theform").valid() == false) {
                posting = false;
            }
            if (posting == true) {
                StartSpinner();
            }
        }
        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }
                }
            });
        }
    </script>
}