@model IEnumerable<MainOps.Models.WTPClasses.MainClasses.Contamination>

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Index");
}
<h2>@SharedLocalizer.GetLocalizedHtmlString("Contaminations")</h2>
<hr/>
<div>
    <a asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("Create New")</a> | 
    <a asp-action="ShowContamsWithoutCure">@SharedLocalizer.GetLocalizedHtmlString("Find Contams without solution")</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contam_group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.default_limit)
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Manage")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contam_group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.default_limit)
                    &nbsp;
                    @Html.Raw(item.Unit_limit.the_unit)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
                    <a asp-action="Manage" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Manage")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
