@model MainOps.Models.PumpTesting

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PumpTesting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DivisionId" />
            <div class="form-group">
                <label asp-for="DoneBy" class="control-label"></label>
                <input asp-for="DoneBy" class="form-control" />
                <span asp-validation-for="DoneBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PumpType" class="control-label"></label>
                <input asp-for="PumpType" class="form-control" />
                <span asp-validation-for="PumpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PumpID" class="control-label"></label>
                <input asp-for="PumpID" class="form-control" />
                <span asp-validation-for="PumpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableLength" class="control-label"></label>
                <input asp-for="CableLength" class="form-control" />
                <span asp-validation-for="CableLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CableDamaged" /> @Html.DisplayNameFor(model => model.CableDamaged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WhichCableDamaged" class="control-label"></label>
                <input asp-for="WhichCableDamaged" class="form-control" />
                <span asp-validation-for="WhichCableDamaged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CanBeFixed" /> @Html.DisplayNameFor(model => model.CanBeFixed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CompleteExchange" /> @Html.DisplayNameFor(model => model.CompleteExchange)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CableExtended" /> @Html.DisplayNameFor(model => model.CableExtended)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CableExtendedm" class="control-label"></label>
                <input asp-for="CableExtendedm" class="form-control" />
                <span asp-validation-for="CableExtendedm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InsulationTested" /> @Html.DisplayNameFor(model => model.InsulationTested)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InsulationOK" /> @Html.DisplayNameFor(model => model.InsulationOK)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AllCableSubmerged" /> @Html.DisplayNameFor(model => model.AllCableSubmerged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

