@model IEnumerable<MainOps.Models.ItemActivity>

@{
    ViewData["Title"] = "Index";
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Item Activities")</h2>

<p>
    <a asp-action="UploadGPS">@SharedLocalizer.GetLocalizedHtmlString("Upload GPS data")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasActive)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
