@model IEnumerable<MainOps.Models.ItemType>
@{
    Layout = null;
}
<table class="table" style="width:100%;table-layout:fixed;word-break:break-word;">
    <thead>
        <tr style="border-bottom:2px solid blue;">
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.BoQnr)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Item_Type)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.rental_price)
            </th>
            <th style="text-align:center;">@SharedLocalizer.GetLocalizedHtmlString("Add to BoQ")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border-top: 2px solid blue;">
                <td>@Html.DisplayFor(modelItem => item.BoQnr) / @Html.DisplayFor(modelItem => item.BoQnr_Rental)</td>
                <td>@Html.DisplayFor(modelItem => item.Item_Type)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.rental_price)</td>
                <td><button class="btn-hoelscher" onclick="AddItemToBoQ(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Add to BoQ")</button></td>

            </tr>
        }

    </tbody>
</table>
