@model MainOps.Models.ItemType

@{
    ViewData["Title"] = "Create";
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Create")</h2>

<h4>
    @SharedLocalizer.GetLocalizedHtmlString("BoQ Item")
</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table style="width:100%;table-layout:fixed;">
        <tr>
            <td><label asp-for="Item_Type" class="control-label"></label></td>
            <td><input asp-for="Item_Type" class="form-control" /></td>
            <td><span asp-validation-for="Item_Type" class="text-danger"></span></td>
            <td></td>
        </tr>

        <tr>
            <td><label>@Html.DisplayNameFor(x => x.ProjectId)<span asp-validation-for="ProjectId" class="text-danger"></span></label></td>
            <td> <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="UpdateHeadLines();"></select></td>
            <td><label>@SharedLocalizer.GetLocalizedHtmlString("Headlines")</label></td>
            <td><label>@SharedLocalizer.GetLocalizedHtmlString("Items")</label></td>
        </tr>
        <tr>
            <td><label asp-for="BoQnr"></label></td>
            <td><input asp-for="BoQnr" style="width:100%;height:36px;" /><span asp-validation-for="BoQnr" class="text-danger"></span></td>
            <td>
                <select id="BoQId" onchange="UpdateItems();" style="width:100%;height:36px">
                    <option value="">Please Select Headline</option>
                </select>
            </td>
            <td>
                <select id="Items" style="width:100%;height:36px">
                    <option value="">@SharedLocalizer.GetLocalizedHtmlString("Existing Items")</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label asp-for="BoQnr_Rental"></label></td>
            <td><input asp-for="BoQnr_Rental" style="width:100%;height:36px;" /><span asp-validation-for="BoQnr_Rental" class="text-danger"></span></td>
            <td>
                <select id="BoQId2" onchange="UpdateItems2();" style="width:100%;height:36px">
                    <option value="">Please Select Headline</option>
                </select>
            </td>
            <td>
                <select id="Items2" style="width:100%;height:36px">
                    <option value="">@SharedLocalizer.GetLocalizedHtmlString("Existing Items")</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label asp-for="price" class="control-label"></label></td>
            <td><input asp-for="price" class="form-control" /></td>
            <td><span asp-validation-for="price" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="rental_price" class="control-label"></label></td>
            <td><input asp-for="rental_price" class="form-control" /></td>
            <td><span asp-validation-for="rental_price" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Install_UnitId" class="control-label"></label></td>
            <td>@Html.DropDownListFor(Model => Model.Install_UnitId, (SelectList)ViewData["UnitId"], "Choose Install Unit", new { @style = "height:36px;width:100%;" })</td>
            <td><span asp-validation-for="Install_UnitId" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Rental_UnitId" class="control-label"></label></td>
            <td>@Html.DropDownListFor(Model => Model.Rental_UnitId, (SelectList)ViewData["UnitId"], "Choose Rental Unit", new { @style = "height:36px;width:100%;" })</td>
            <td><span asp-validation-for="Rental_UnitId" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="ExpectedAmount" class="control-label"></label></td>
            <td><input asp-for="ExpectedAmount" type="number" value="0.00" step="0.01" class="form-control" /></td>
            <td><span asp-validation-for="ExpectedAmount" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="ExpectedAmountRental" class="control-label"></label></td>
            <td><input asp-for="ExpectedAmountRental" type="number" value="0.00" step="0.01" class="form-control" /></td>
            <td><span asp-validation-for="ExpectedAmountRental" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Valuta" class="control-label"></label></td>
            <td>
                <select asp-for="Valuta" style="width:100%;height:36px;">
                    <option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Valuta")</option>
                    <option value="EURO">Euro</option>
                    <option value="DKK">DKK</option>
                    <option value="CAN">CAN $</option>
                </select>
            </td>
            <td><span asp-validation-for="Valuta" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="AgreementNumber" class="control-label"></label></td>
            <td><input asp-for="AgreementNumber" /></td>
            <td><label asp-for="AgreementDate" class="control-label"></label></td>
            <td><input asp-for="AgreementDate" type="date" /></td>
        </tr>
        <tr>
            <td> <label asp-for="ReportTypeId" class="control-label"></label></td>
            <td>
                <select asp-for="ReportTypeId" asp-items="ViewBag.ReportTypeId" style="width:100%;height:36px;">
                    <option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Report Type")</option>
                </select>
            </td>
            <td><span asp-validation-for="ReportTypeId" class="text-danger"></span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="submit" value="Create" class="btn-hoelscher" style="width:100%;" />
            </td>
        </tr>
    </table>
</form>

<div>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function UpdateHeadLines() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetHeadLinesProject", "BoQHeadLines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': ProjectId,
                },
                success: function (data) {
                    var s = '<option value="">Please Select Headline</option>';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["boQnum"] + ' : ' + data[prop]["headLine"] + '</option>';
                    }
                    $("#BoQId").html(s);
                    document.getElementById("BoQId").style.width = "100%";
                    UpdateHeadLines2();
                }
            });
        }
        function UpdateHeadLines2() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetHeadLinesProjectRental", "BoQHeadLines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': ProjectId,
                },
                success: function (data) {
                    var s = '<option value="">Please Select Headline</option>';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["boQnum"] + ' : ' + data[prop]["headLine"] + '</option>';
                    }
                    $("#BoQId2").html(s);
                    document.getElementById("BoQId2").style.width = "100%";
                }
            });
        }
        function GetBoQNum() {
            var BoQId = $('#BoQId').val();
            var url = '@Url.Action("GetBoQNum", "BoQHeadLines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': BoQId,
                },
                success: function (data) {
                    $("#BoQnr").val((+data["boQnr"] + 0.01).toFixed(2));
                }
            });
        }
        function GetBoQNum2() {
            var BoQId = $('#BoQId2').val();
            var url = '@Url.Action("GetBoQNumRental", "BoQHeadLines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': BoQId,
                },
                success: function (data) {
                    $("#BoQnr_Rental").val((+data["boQnr_Rental"] + 0.01).toFixed(2));
                }
            });
        }
        function UpdateItems() {
            var BoQId = $('#BoQId').val();
            var url = '@Url.Action("GetItemsHeadLine", "ItemTypes")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': BoQId,
                },
                success: function (data) {
                    var s = '';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["item_Type"] + ' : ' + data[prop]["boQnr"] + ' : ' + data[prop]["boQnr_Rental"] + '</option>';
                    }
                    $("#Items").html(s);
                    document.getElementById("Items").style.width = "100%";
                    GetBoQNum();
                }
            });
        }
        function UpdateItems2() {
            var BoQId = $('#BoQId2').val();
            var url = '@Url.Action("GetItemsHeadLineRental", "ItemTypes")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': BoQId,
                },
                success: function (data) {
                    var s = '';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["item_Type"] + ' : ' + data[prop]["boQnr"] + ' : ' + data[prop]["boQnr_Rental"] + '</option>';
                    }
                    $("#Items2").html(s);
                    document.getElementById("Items2").style.width = "100%";
                    GetBoQNum2();
                }
            });
        }
        $(document).ready(function () {
            $(function () {
                UpdateHeadLines();
                UpdateHeadLines2();
            });
        });

    </script>
}


