@model MainOps.Models.WTPClasses.MainClasses.WTP_block

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Details");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("WTP-block")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer.GetLocalizedHtmlString("English Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.unit_size)
        </dt>
        <dd>
            @Html.Raw(SharedLocalizer.GetLocalizedHtmlString(Model.unit_size.the_unit))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pow_Con)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pow_Con)
        </dd>
        <dt>
            @SharedLocalizer.GetLocalizedHtmlString("English Description")
            </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Division.Name)
        </dd>

       
        <!--
    <dt>
        @Html.DisplayNameFor(model => model.necessity)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.necessity)
    </dd>-->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>
