@model MainOps.Models.WellCheck

@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedLocalizer.GetLocalizedHtmlString("WellCheck")</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>

<table style="page-break-inside:avoid;">
    <tr>
        <td colspan="3">
            <b>@SharedLocalizer.GetLocalizedHtmlString("Well Check Report")</b>
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Project.Name)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Project.Name)
        </td>
        <td rowspan="4" align="right"><img src="~/images/Divisions/Photos/@Model.Project.Division.Id/@Model.Project.Division.LogoPath" width="151" height="66" /></td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Project.ProjectNr)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Project.ProjectNr)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Project.Client)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Project.Client)
        </td>

    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.TimeStamp)
            </b>
        </td>
        <td>
            @Html.DisplayFor(Model => Convert.ToDateTime(Model.TimeStamp).Date)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.WellName)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.WellName)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.CanBeFound)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.CanBeFound)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.NumBerOfPipes)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.NumBerOfPipes)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.BottomWell)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.BottomWell)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.Dip)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.Dip)
        </td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <b>
                @Html.DisplayNameFor(Model => Model.DiffTop)
            </b>
        </td>
        <td colspan="2">
            @Html.DisplayFor(Model => Model.DiffTop)
        </td>
    </tr>
    @if (Model.NumBerOfPipes > 1)
    {
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.BottomWell2)
                </b>
            </td>
            <td colspan="2">
                @Html.DisplayFor(Model => Model.BottomWell2)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Dip2)
                </b>
            </td>
            <td colspan="2">
                @Html.DisplayFor(Model => Model.Dip2)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.DiffTop2)
                </b>
            </td>
            <td colspan="2">
                @Html.DisplayFor(Model => Model.DiffTop2)
            </td>
        </tr>
    }
    @if (Model.NumBerOfPipes > 2)
    {
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.BottomWell3)
                </b>
            </td>
            <td colspan="2">
                @Html.DisplayFor(Model => Model.BottomWell3)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.Dip3)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Dip3)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <b>
                    @Html.DisplayNameFor(Model => Model.DiffTop3)
                </b>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.DiffTop3)
            </td>
        </tr>

    }
    <tr>
        <td colspan="3">
            <table>
                <thead>
                    <tr>
                        <th style="text-align:center;"><b>@Html.DisplayNameFor(Model => Model.IsCoverOk) </b></th>
                        <th style="text-align:center;"><b>@Html.DisplayNameFor(Model => Model.IsShaftOk)</b></th>
                        <th style="text-align:center;"><b>@Html.DisplayNameFor(Model => Model.WellHeads)</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center;">@Html.DisplayFor(Model => Model.IsCoverOk)</td>
                        <td style="text-align:center;">@Html.DisplayFor(Model => Model.IsShaftOk)</td>
                        <td style="text-align:center;">@Html.DisplayFor(Model => Model.WellHeads)</td>
                    </tr>
                </tbody>

            </table>
        </td>
    </tr>



    <tr>
        <td colspan="3"><b>@Html.DisplayNameFor(Model => Model.Comments)</b></td>
    </tr>
    <tr rowspan="8">
        <td colspan="3">
            <textarea rows="8" cols="64" class="form-control" style="width:100%;">@Html.DisplayFor(Model => Model.Comments)</textarea>
        </td>
    </tr>
</table>

<table name="phototable" style="page-break-inside:avoid;">
    @{ var rows = 0;}
    @if (Model.Photos.Count() % 3 == 0)
    {
        rows = Model.Photos.Count() / 3;
    }
    else
    {
        rows = Convert.ToInt32(Model.Photos.Count() / 3) + 1;
    }
    @{ var totalpics = Model.Photos.Count();}
    @for (int i = 0; i < rows; i++)
    {

        @if (totalpics - 3 >= 0) //enough room to add whole row
        {
            var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
            var photo2 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 1);
            var photo3 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 2);

            <tr>
                <td><img src="@String.Concat("/WellChecks/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
                <td><img src="@String.Concat("/WellChecks/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
                <td><img src="@String.Concat("/WellChecks/", @String.Concat(photo3.Path.Split(".")[0], "_edit.", photo3.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
            </tr>
            totalpics -= 3;
        }
        else if (totalpics - 2 >= 0)
        {
            var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
            var photo2 = Model.Photos.ElementAt((i + 1) * 3 - 3 + 1);
            var lol = @String.Concat("/WellChecks/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1]);


            <tr>
                <td><img src="@String.Concat("/WellChecks/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
                <td><img src="@String.Concat("/WellChecks/", @String.Concat(photo2.Path.Split(".")[0], "_edit.", photo2.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
                <td></td>
            </tr>
            @*<tr>
                <td colspan="3">
                    @lol
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @photo2.Path
                </td>
            </tr>*@
            totalpics -= 2;
        }
        else //enough room to add 1 picture in row
        {
            var photo1 = Model.Photos.ElementAt((i + 1) * 3 - 3);
            <tr>
                <td colspan="3"><img src="@String.Concat("/WellChecks/", @String.Concat(photo1.Path.Split(".")[0], "_edit.", photo1.Path.Split(".")[1]).Replace("\\", "/").Split("/WellChecks/")[1])" /></td>
            </tr>
            totalpics -= 1;
        }

    }
</table>