@model MainOps.Models.PumpInstallation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pump Installation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="theform" asp-action="Create" method="post" onsubmit="retrieveData(event);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td><label asp-for="ProjectId">@SharedLocalizer.GetLocalizedHtmlString("Project")</label></td>
                    <td><select asp-for="ProjectId" asp-items="ViewBag.ProjectId" onchange="FillSubProjects();" style="width:100%;"><option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Project")</option></select></td>
                </tr>
                <tr>
                    <td><label asp-for="SubProjectId">@SharedLocalizer.GetLocalizedHtmlString("SubProject")</label></td>
                    <td><select asp-for="SubProjectId" asp-items="ViewBag.SubProjectId" style="width:100%;"><option value="">@SharedLocalizer.GetLocalizedHtmlString("Select SubProject")</option></select></td>
                </tr>
                <tr>

                    <td><label asp-for="MeasPointId">@SharedLocalizer.GetLocalizedHtmlString("Well Name")</label></td>
                    <td><select asp-for="MeasPointId" asp-items="ViewBag.MeasPointId" onchange="UpdateWellname();" style="width:100%;"><option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Well")</option></select></td>
                </tr>
                <tr>
                    <td>
                        @SharedLocalizer.GetLocalizedHtmlString("Or just write the name")
                    </td>
                    <td><input asp-for="WellName" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td><label asp-for="VariationOrderId" class="control-label"></label></td>
                    <td><select asp-for="VariationOrderId" class="form-control" asp-items="ViewBag.VariationOrderId"><option value="">@SharedLocalizer.GetLocalizedHtmlString("Select VariationOrder")</option></select></td>
                </tr>
                <tr>
                    <td> <label asp-for="TimeStamp" class="control-label"></label></td>
                    <td> <input asp-for="TimeStamp" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="form-control" style="width:100%;" /></td>
                </tr>
                <tr>

                    <td><label asp-for="PumpTypeId">@SharedLocalizer.GetLocalizedHtmlString("Pump Type")</label></td>
                    <td><select asp-for="PumpTypeId" asp-items="ViewBag.PumpTypeId" onchange="UpdatePumpType();" style="width:100%;"><option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Predefined Pump Type")</option></select></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="PumpTypeWritten" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="PumpTypeWritten" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="SensorRange" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="SensorRange" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="WellDepth" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="WellDepth" type="number" min="0" max="150" step="0.01" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="PumpDepth" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="PumpDepth" type="number" min="0" max="150" step="0.01" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="SensorDepth" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="SensorDepth" type="number" min="0" max="150" step="0.01" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="DiameterHose" type="number" min="0" max="150" step="0.01" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="DiameterHose" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="WaterLevel" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="WaterLevel" type="number" min="0" max="150" step="0.01" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="PipeCut" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="PipeCut" type="number" min="0" max="50" step="0.01" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Comments" class="control-label"></label></td>
                    <td> <textarea asp-for="Comments" cols="26" rows="6" placeholder="Comments.." style="width:100%;"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn-hoelscher" style="width:100%;height:36px;">@SharedLocalizer.GetLocalizedHtmlString("Submit")</button></td>
                </tr>
            </table>
            <div class="form-group" hidden="hidden">
                <input type="number" id="latinput" value="0" name="Latitude" hidden="hidden" />
                <input type="number" id="longinput" value="0" name="Longitude" hidden="hidden" />
                <input type="number" value="1000" name="Accuracy" id="accuracy" hidden="hidden" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to list")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript"
            src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js">
    </script>
    <script type="text/javascript">
        var myLat = 0, myLng = 0, myAcc = 0;
        var id;

        var lang = $("#requestCulture_RequestCulture_UICulture_Name").val();
        if (navigator.geolocation) {
           id = navigator.geolocation.watchPosition(function (position) {
               myLat = position.coords.latitude;
               myLng = position.coords.longitude;
               myAcc = position.coords.accuracy;
               getPos(myLat, myLng,myAcc);
            },
                function (error) {
                    if (error.code == error.PERMISSION_DENIED) {
                       alert("Turn ON Location Services!");
                    }

                }, { maximumAge: 0, timeout: 8000, enableHighAccuracy: true });
        }
        function getPos(lat, lng, acc) {
            var currentacc = +$("#accuracy").val();
            if (acc < currentacc) {
                $("#accuracy").val(acc);
                $("#latinput").val(lat);
                $("#longinput").val(lng);
            }

        }
    $(document).ready(function () {
        $(function () {
            document.querySelector('#ProjectId > option[value="437"]').setAttribute('selected', true);
            FillSubProjects();
        });

    });
    function UpdateWellname() {
        var selected_text = $('#MeasPointId option:selected')
            .toArray().map(item => item.text).join();
        $("#WellName").val(selected_text);
    }
    function UpdatePumpType() {
        var selected_text = $('#PumpTypeId option:selected')
            .toArray().map(item => item.text).join();
        $("#PumpTypeWritten").val(selected_text);
    }
    


        function FillVariationOrders() {
            var ProjectId = $('#ProjectId').val();
            var variationOrderId = $('#VariationOrderId').val();
            var url = '@Url.Action("GetVariationOrdersProject", "BoQHeadlines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': ProjectId
                },
                success: function (data) {
                    var s = '<option value="">Please Select</option>';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["headLine"] + '</option>';
                    }
                    $("#VariationOrderId").html(s);
                    document.getElementById("VariationOrderId").style.width = "100%";
                    var x = document.getElementById("VariationOrderId");
                    var i;
                    for (i = 0; i < x.length; i++) {
                        if (x.options[i].value == variationOrderId) {
                            x.options[i].selected = true;
                        }
                    }
                    FillItems();
                }
            });
        }
        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var SubProjectId = $('#SubProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                        var x = document.getElementById("SubProjectId");
                        var i;
                        for (i = 0; i < x.length; i++) {
                            if (x.options[i].value == SubProjectId) {
                                x.options[i].selected = true;
                            }
                        }
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }
                    FillMeasPoints();
                }
            });
    }
        function FillMeasPoints() {
            var MeasPointId = $('#MeasPointId').val();
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetWellsProject", "Projects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': ProjectId,
                },
                success: function (data) {
                    var s = '<option value="">Select Well</option>';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                    }
                    $("#MeasPointId").html(s);
                    document.getElementById("MeasPointId").style.width = "100%";
                    var x = document.getElementById("MeasPointId");
                    var i;
                    for (i = 0; i < x.length; i++) {
                        if (x.options[i].value == MeasPointId) {
                            x.options[i].selected = true;
                        }

                    }
                }

            });
            FillVariationOrders();
    }
    function FillItems() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetItemsProject", "ItemTypes")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': ProjectId,
                    'type' : "pump"
                },
                success: function (data) {
                    var s = '<option value="">Please Select</option>';
                    //if (lang == "de-DE") {
                    //    s = '<option value="">Bitte auswählen</option>';
                    //}
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["item_Type"] + '</option>';
                    }
                    $("#PumpTypeId").html(s);
                    document.getElementById("PumpTypeId").style.width = "100%";


                }
            });
        }
    function FillMeasPoints2() {
        var MeasPointId = $("#MeasPointId").val();
            var SubProjectId = $('#SubProjectId').val();
            var url = '@Url.Action("GetMeasPointsSubProject", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'theId': SubProjectId,
                },
                success: function (data) {
                    var s = '<option value="">Select Well</option>';
                    for (var prop in data) {
                        s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                    }
                    $("#MeasPointId").html(s);
                    document.getElementById("WellName").style.width = "100%";
                    var x = document.getElementById("MeasPointId");
                    var i;
                    for (i = 0; i < x.length; i++) {
                        if (x.options[i].value == MeasPointId) {
                            x.options[i].selected = true;
                        }
                    }
                }
            });
        }
        function retrieveData(e) {
            var posting = false;
            if ($("#theform").valid() == false) {
                e.preventDefault();
                posting = false;
            }
            else {
                posting = true;
            }
            if (posting == true) {
                StartSpinner();
            }
        }
    </script>
}