@model MainOps.Models.SedimentationSiteReport

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SedimentationSiteReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" onchange="FillSubProjects();" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubProjectId" class="control-label"></label>
                <select asp-for="SubProjectId" class="form-control" asp-items="ViewBag.SubProjectId"></select>
                <span asp-validation-for="SubProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantId" class="control-label"></label>
                <input asp-for="PlantId" class="form-control" />
                <span asp-validation-for="PlantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" type="datetime-local" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SedimenationCleanedAndEmptied" /> @Html.DisplayNameFor(model => model.SedimenationCleanedAndEmptied)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SedimentationShouldBeEmptiedAndCleaned" /> @Html.DisplayNameFor(model => model.SedimentationShouldBeEmptiedAndCleaned)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SedimentationMinimumWater" /> @Html.DisplayNameFor(model => model.SedimentationMinimumWater)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SedimenationFlowRate" /> @Html.DisplayNameFor(model => model.SedimenationFlowRate)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="OilSeperatorClogged" /> @Html.DisplayNameFor(model => model.OilSeperatorClogged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GeoTubeExchanged" /> @Html.DisplayNameFor(model => model.GeoTubeExchanged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GeoTubeShouldBeExchanged" /> @Html.DisplayNameFor(model => model.GeoTubeShouldBeExchanged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SiteCheckPerformed" /> @Html.DisplayNameFor(model => model.SiteCheckPerformed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Leakages" /> @Html.DisplayNameFor(model => model.Leakages)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AccessWays" /> @Html.DisplayNameFor(model => model.AccessWays)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Safety" /> @Html.DisplayNameFor(model => model.Safety)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AcidExchanged" /> @Html.DisplayNameFor(model => model.AcidExchanged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AcidShouldBeExchanged" /> @Html.DisplayNameFor(model => model.AcidShouldBeExchanged)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AlarmFunction" /> @Html.DisplayNameFor(model => model.AlarmFunction)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" rows="10" cols="40" placeholder="...comments"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoneBy" class="control-label"></label>
                <input asp-for="DoneBy" class="form-control" />
                <span asp-validation-for="DoneBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var SubProjectId = $('#SubProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                        var x = document.getElementById("SubProjectId");
                        var i;
                        for (i = 0; i < x.length; i++) {
                            if (x.options[i].value == SubProjectId) {
                                x.options[i].selected = true;
                            }
                        }
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }
                }
            });
        }



        $(document).ready(function () {
            document.querySelector('#ProjectId > option[value="437"]').setAttribute('selected', true);
            FillSubProjects();
            });
    </script>
}
