@model MainOps.Models.TelefonListe

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TelefonListe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.DivisionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Division.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ForNavn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ForNavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Efternavn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Efternavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefonnr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefonnr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loennr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loennr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
