@model IEnumerable<MainOps.Models.HJItem>

@{
    Layout = null;
}
<!DOCTYPE html>
<style>
    div#myDiv {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari prior 9.0 */
        transform: rotate(-90deg); /* Standard syntax */
        transform: translate(0,500);
        page-break-after: always;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Items</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>
<body>
    
    @foreach(var item in Model){

    <font size="5">
        <div>
           
                <table style="page-break-after:always;">
                    <tbody>
                        <tr>
                            <td rowspan="2" width="40%" align="left"><img src="~/images/Divisions/Photos/@Model.First().DivisionId/@Model.First().Division.LogoPath" height="210" style="width:96%;" /></td>
                            <td colspan="2" align="center" width="80%" height="105" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                        <tr>
                            <td align="center" width="20%" height="105">@Html.DisplayNameFor(modelItem => item.HJId)</td>
                            <td align="center" height="105" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => item.HJId)</td>
                        </tr>
                        <tr>
                            <td rowspan="2" width="20%" align="left"><img src='@Url.Action("GetQR","HJItems",new { Id = item.Id })' alt="" height="210" /></td>
                            <td align="center" width="20%" height="105">@Html.DisplayNameFor(modelItem => item.weight)</td>
                            <td align="center" height="105" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => item.weight)</td>
                        </tr>
                        <tr>
                            <td align="center" width="20%" height="105">@Html.DisplayNameFor(modelItem => item.Measures)</td>
                            <td align="center" height="105" style="border-width:thin;border-style:solid;">@Html.DisplayFor(modelItem => item.Measures)</td>
                        </tr>
                    </tbody>
              </table>
        </div>
        </font>
        }
</body>
</html>