@model IEnumerable<MainOps.Models.WaterHandling>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeasPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClearPumpTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillWater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WellName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Well)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PumpWaterStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PumpWaterEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillWaterStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillWaterEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountContainerDrill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountContainerPump)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasPoint.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClearPumpTest.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillWater.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WellName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Well.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PumpWaterStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PumpWaterEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillWaterStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillWaterEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountContainerDrill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountContainerPump)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <form asp-action="InvoiceWater" asp-controller="WaterHandlings" method="post" asp-route-id="@item.Id">
                    <button class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Invoice This Item")</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
