@model MainOps.Models.WaterSampleStandardLimit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterSampleStandardLimit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WaterSamplePlaceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterSamplePlaceType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeanLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeanLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Komponent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Komponent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
