@model MainOps.Models.ExtraWork

@{
    ViewData["Title"] = "Create";
}


<h4>@SharedLocalizer.GetLocalizedHtmlString("Extra Work")</h4>
<hr />
<div class="row">
    <form asp-action="NewExtraWorkHeadlineProject" asp-controller="BoQHeadLines" method="get" target="_blank">
        <button class="btn-hoelscher">
            @SharedLocalizer.GetLocalizedHtmlString("Create new Extra Work Header")
        </button>
     <input id="ProjectId2" name="ProjectId2" value="" hidden="hidden" />
    </form>
<div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProjectId" class="control-label"></label>
            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="FillSubProjects();"></select>
        </div>
        <div class="form-group">
            <label asp-for="SubProjectId" class="control-label"></label>
            <select asp-for="SubProjectId" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="BoQHeadLineId" class="control-label"></label>
            <select asp-for="BoQHeadLineId" class="form-control">
                <option value="">@SharedLocalizer.GetLocalizedHtmlString("Headline")</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="TimeStamp" class="control-label"></label>
            <input asp-for="TimeStamp" class="form-control" />
            <span asp-validation-for="TimeStamp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndStamp" class="control-label"></label>
            <input asp-for="EndStamp" class="form-control" />
            <span asp-validation-for="EndStamp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" cols="40" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rental_Price" class="control-label"></label>
            <input asp-for="Rental_Price" class="form-control" />
            <span asp-validation-for="Rental_Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VAT_Liftable" class="control-label"></label>
            <select asp-for="VAT_Liftable" style="width:100%;">
                <option value="True">@SharedLocalizer.GetLocalizedHtmlString("VAT. is refundable")</option>
                <option value="False">@SharedLocalizer.GetLocalizedHtmlString("VAT. is NOT refundable")</option>
            </select>
            <span asp-validation-for="VAT_Liftable" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Valuta" class="control-label"></label>
            <select asp-for="Valuta" style="width:100%;">
                <option value="">@SharedLocalizer.GetLocalizedHtmlString("Select Valuta")</option>
                <option value="EURO">Euro</option>
                <option value="DKK">DKK</option>
            </select>
            <span asp-validation-for="Valuta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Upload pictures")</label>
            <input type="file" name="files" multiple accept=".jpg,.jpeg,.png,.pdf" style="width:100%;" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn-hoelscher" style="width:100%;height:50px;" />
        </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            FillSubProjects();
            FillHeadLines();
            SetProjectId2();
        });
        function SetProjectId2() {
            $("#ProjectId2").val($("#ProjectId").val());
        }
        function FillSubProjects() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetSubProjectList", "SubProjects")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Please Select SubProject</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["name"] + '</option>';
                        }
                        $("#SubProjectId").html(s);
                        document.getElementById("SubProjectId").style.width = "100%";
                    }
                    else {
                        var s = '<option value="">Please Select SubProject</option>';
                        $("#SubProjectId").html(s);
                    }
                }
            });
            SetProjectId2();
            FillHeadLines();
        }
        function FillHeadLines() {
            var ProjectId = $('#ProjectId').val();
            var url = '@Url.Action("GetProjectHeadLines", "BoQHeadLines")';
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: { 'theId': ProjectId },
                success: function (data) {
                    if (data.length > 0) {
                        var s = '<option value="">Select Headline</option>';
                        for (var prop in data) {
                            s += '<option value="' + data[prop]["id"] + '">' + data[prop]["headLine"] + '</option>';
                        }
                        $("#BoQHeadLineId").html(s);
                        document.getElementById("BoQHeadLineId").style.width = "100%";
                    }
                    else {
                        var s = '<option value="">Select Headline</option>';
                        $("#BoQHeadLineId").html(s);
                    }
                }
            });
        }
        
    </script>
}