@model IEnumerable<MainOps.Models.WorkTask>

<table class="table" style="width:100%;table-layout:fixed;word-break:break-word;">
    <thead>
        <tr style="border-bottom:2px solid blue;">
            <th style="text-align:center;">@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.DateToDo)
            </th>
            <th style="text-align:center;">@SharedLocalizer.GetLocalizedHtmlString("Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border-top: 2px solid blue;">
                @if (item.IsStarted.Equals(true) && item.IsFinished.Equals(false))
                {
                    <td style="text-align:center;vertical-align:middle;"><span class="dot" id="dot_@item.Id" style="background-color: orange;"></span><button type="button" class="btn-hoelscher" onclick="ShowWorkItems(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Sub Tasks")</button></td>
                }
                else if (item.IsStarted.Equals(false) && item.IsFinished.Equals(false) && item.DateToDo <= DateTime.Now)
                {
                    <td style="text-align:center;vertical-align:middle;">
                        <span class="dot" id="dot_@item.Id" style="background-color: red;"></span>
                        <button type="button" class="btn-hoelscher" onclick="ShowWorkItems(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Sub Tasks")</button>
                    </td>
                }
                else if (item.IsStarted.Equals(false) && item.IsFinished.Equals(false) && item.DateToDo > DateTime.Now)
                {
                    <td style="text-align:center;vertical-align:middle;">
                        <span class="dot" id="dot_@item.Id" style="background-color: lightgreen;"></span>
                        <button type="button" class="btn-hoelscher" onclick="ShowWorkItems(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Sub Tasks")</button>
                    </td>
                }

                <td style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @string.Format("{0:yyyy-MM-dd}",item.DateToDo)
                </td>
                
                <td style="text-align:center;vertical-align:middle;">
                    @if (item.IsStarted.Equals(false))
                    {
                        <button class="btn-hoelscher" id="StartButton_@item.Id" onclick="StartTask(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Start")</button>
                    }
                    else
                    {
                        <button class="btn-hoelscher" id="EndButton_@item.Id" onclick="EndTask(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("End")</button>
                    }

                    <button class="btn-hoelscher" id="FeedbackButton_@item.Id" onclick="FeedbackTask(@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Feedback Task")</button>
                </td>
            </tr>
            <tr style="border-bottom: 2px solid blue;">
                <td><b>@Html.DisplayNameFor(modelItem => item.Comments_Office)</b></td>
                <td colspan="3" style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Comments_Office)
                </td>
            </tr>
            @foreach (var workitem in item.WorkItems)
            {
            <tr class="workitem_@item.Id" style="display:none;border-top:2px dotted blue;border-bottom:2px dotted blue;">
                @{ var countphotos = workitem.Photos.Count;}
                @if (!workitem.IsFinished.Equals(true))
                {
                    <td style="text-align:center;vertical-align:middle;">
                        <span class="dot" id="dot_@item.Id" style="background-color: red;"></span>
                        <button type="button" class="btn-hoelscher" onclick="FinishWorkItem(@workitem.Id,@item.Id);">@SharedLocalizer.GetLocalizedHtmlString("Finish")</button>
                        <button class="btn-hoelscher" id="FeedbackItemButton_@workitem.Id" onclick="FeedbackItem(@item.Id,@workitem.Id);">@SharedLocalizer.GetLocalizedHtmlString("Feedback Item")</button>
                    </td>
                }
                else
                {
                    <td style="text-align:center;vertical-align:middle;">
                        <span class="dot" id="dot_@String.Concat(workitem.Id,"_",item.Id)" style="background-color: lightgreen;"><span class="glyphicon glyphicon-ok" style="text-align:center;vertical-align:middle;"></span></span>
                        <button class="btn-hoelscher" id="FeedbackItemButton_@workitem.Id" onclick="FeedbackItem(@item.Id,@workitem.Id);">@SharedLocalizer.GetLocalizedHtmlString("Feedback Item")</button>
                    </td>
                }
                @if (countphotos < 1)
                {
                    <td colspan="3" style="width:100%;text-align:center;vertical-align:middle;">@workitem.Description</td>
                }
                else
                {
                    <td style="width:100%;text-align:center;vertical-align:middle;">@workitem.Description</td>
                    <td colspan="2">
                        <div id="myCarousel_@workitem.Id" class="carousel slide" data-ride="carousel" data-interval="20000" style="position:center;">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel_@workitem.Id" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i <= countphotos - 1; i++)
                                {
                                    <li data-target="#myCarousel_@workitem.Id" data-slide-to="@i"></li>
                                }
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/Tasks/WorkTasks/@item.Id/@workitem.Id/@workitem.Photos.ElementAt(0).path.Split("\\")[@workitem.Photos.ElementAt(0).path.Split("\\").Length - 1]" class="img-responsive" style="width:100%;height:200px;" />
                                </div>
                                @foreach (var photo in workitem.Photos.Where(x => !x.Id.Equals(workitem.Photos.ElementAt(0).Id)))
                                {
                                    <div class="item">
                                        <img src="~/Tasks/WorkTasks/@item.Id/@workitem.Id/@photo.path.Split("\\")[photo.path.Split("\\").Length - 1]" class="img-responsive" style="width:100%;height:200px;" />
                                    </div>
                                }
                            </div>
                            <a class="left carousel-control" href="#myCarousel_@workitem.Id" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">@SharedLocalizer.GetLocalizedHtmlString("<")</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel_@workitem.Id" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">@SharedLocalizer.GetLocalizedHtmlString(">")</span>
                            </a>
                        </div>
                    </td>
                }

            </tr>
            }
        }
    </tbody>
</table>
