@model MainOps.Models.CGJClasses.CGJDailyReportEditVM
@{
    ViewData["Title"] = "Dagsrapport";
}
@inject IHostingEnvironment _env;
<style>
    #thetable {
        width: 100%;
        table-layout: fixed;
    }

        #thetable td {
            text-align: center;
            background-color: black;
            color: white;
            word-break: break-all;
            width: 100%;
        }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }
</style>
<h2>Rediger Dagsrapport</h2>
<div id="myModal3" class="ThreeModal">
    <div class="ThreeModal-content">
        <div class="ThreeModal-header">
            <span class="ThreeModalclose">&times;</span>
            <h2>@SharedLocalizer.GetLocalizedHtmlString("Location")</h2>
        </div>
        <div class="ThreeModal-body">
            <div id="myDivMap" style="width:100%;height:400px;">
                <img id="modal-img" src="" style="width:100%;height:100%;align-content:center;" />
            </div>
        </div>
    </div>
</div>
<form asp-action="Edit_Dagsrapport" asp-controller="CGJensen" method="post" enctype="multipart/form-data" onsubmit="retrieveData();">
    <div style="font-size:20px;">
        <input type="hidden" asp-for="DagsrapportId" value="@Model.DagsrapportId" />
        <table border="1" id="thetable">
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Stam Data</b></td>
            </tr>
            <tr>
                <td colspan="3">Kontrakt nr:</td>
                <td colspan="7">
                    <b>
                        <input asp-for="Kontraktnr" style="width:100%;background-color:black;color:white;">
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="3">Kontrakt navn:</td>
                <td colspan="7"><b><input asp-for="Kontraktnavn" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Rapport nr:</td>
                <td colspan="7"><b><input asp-for="RapportNr" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Dato:</td>
                <td colspan="7"><b><input type="text" class="date-picker" asp-for="Dato" value="@DateTime.Now.ToString("dd-MM-yy")" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Afdeling:</td>
                <td colspan="7"><b><input asp-for="Afdeling" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Lokation:</td>
                <td colspan="7"><b><input asp-for="Lokation" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Addresse</td>
                <td colspan="7"><b><input asp-for="Addresse" style="width:100%;background-color:black;color:white;" /></b></td>
            </tr>
            <tr>
                <td colspan="3">Fortsætter?</td>
                <td colspan="7"><input asp-for="Fortsaetter" style="width:100%;background-color:black;color:white;" /></td>
            </tr>
            <tr>
                <td colspan="10" style="background-color:orange;color:black;">
                    <b>Tidsregistrering af mandskab</b>
                </td>
            </tr>
            <tr>
                <td rowspan="2">Aktivitet</td>
                <td rowspan="2">Antal Personer</td>
                <td rowspan="2">Timer</td>
                <td rowspan="2">Timer Før Overtid</td>
                <td colspan="2">Overtid</td>
                <td rowspan="2">CGJ Timer Totalt</td>
                <td colspan="3" rowspan="2">Note</td>

            </tr>
            <tr>
                <td>50%</td>
                <td>100%</td>
            </tr>
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Kontraktarbejde</b></td>
            </tr>

            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    <td>
                        <b>
                            <select asp-for="@Model.Timer[i].Title" style="width:100%;background-color:black;color:white;">
                                <option value="">Titel</option>
                                <option value="Timelønnede">Timelønnede</option>
                                <option value="Byggeleder">Byggeleder</option>
                                <option value="Formand">Formand</option>
                                <option value="Lærlinge/Elever">Lærlinge/Elever</option>
                                <option value="Funktionærer">Funktionærer</option>
                            </select>
                        </b>
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].AntalPersoner" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Timer" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].TimerFoerOvertid" style="width:100%;background-color:grey;color:white;" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Overtid_50" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Overtid_100" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].CGJ_Timer_Total" style="width:100%;background-color:grey;color:white;" readonly />
                        <input asp-for="@Model.Timer[i].EANr" hidden="hidden" style="width:100%;background-color:black;color:white;" />
                    </td>

                    <td colspan="3">
                        <input asp-for="@Model.Timer[i].Note" style="width:100%;background-color:black;color:white;" />
                    </td>
                </tr>

            }
            <tr>
                <td colspan="7" style="background-color:orange;color:black;"><b>Ekstraarbejder</b></td>
                <td style="background-color:orange;">
                    EA Nr
                </td>
                <td colspan="2" style="background-color:orange;color:black;">
                    Note
                </td>
            </tr>
            @for (int i = 5; i < 10; i++)
            {
                <tr>
                    <td>
                        <b>
                            <select asp-for="@Model.Timer[i].Title" style="width:100%;background-color:black;color:white;">
                                <option value="">Titel</option>
                                <option value="Timelønnede">Timelønnede</option>
                                <option value="Byggeleder">Byggeleder</option>
                                <option value="Formand">Formand</option>
                                <option value="Lærlinge/Elever">Lærlinge/Elever</option>
                                <option value="Funktionærer">Funktionærer</option>
                            </select>
                        </b>
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].AntalPersoner" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Timer" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].TimerFoerOvertid" style="width:100%;background-color:grey;color:white;" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Overtid_50" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].Overtid_100" style="width:100%;background-color:black;color:white;" onchange="UpdateHours(event)" />
                    </td>
                    <td>
                        <input asp-for="@Model.Timer[i].CGJ_Timer_Total" style="width:100%;background-color:grey;color:white;" readonly />
                    </td>
                    <td>
                        <b>
                            <select asp-for="@Model.Timer[i].EANr" asp-items="ViewBag.EAId" onchange="updateea(event);" style="width:100%;background-color:black;color:white;">
                                <option value="">EA Nr</option>
                            </select>
                        </b>
                    </td>
                    <td colspan="2">
                        <input asp-for="@Model.Timer[i].Note" style="width:100%;background-color:black;color:white;" />
                    </td>
                </tr>

            }
            <tr>
                <td><b>I alt:</b></td>
                <td><input id="totalantal" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td><input id="totaltimer" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td><input id="totaltimerfoerovertid" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td><input id="totalovertid50" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td><input id="totalovertid100" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td><input id="totaltotal" style="width:100%;background-color:grey;color:white;" readonly /></td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="2">Dagens vejr:</td>
                <td colspan="3"><input asp-for="Vejret" style="width:100%;background-color:black;color:white;" /></td>
                <td colspan="2">Vejrlig:</td>
                <td colspan="3"><input asp-for="Vejrlig" style="width:100%;background-color:black;color:white;" /></td>
            </tr>
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Kontraktarbejde</b></td>
            </tr>
            <tr>
                <td rowspan="2" colspan="5">Eget Materiel og Materialer</td>
                <td colspan="5">Underleverandør - materiel, materialer, kørsel mm.</td>
            </tr>
            <tr>

                <td colspan="2">Firma</td>
                <td colspan="3">Hvilket materiel, materiale</td>
            </tr>
            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td colspan="5"><input asp-for="@Model.Kontraktarbejder[i].EgetMateriel" style="width:100%;background-color:black;color:white;" /></td>
                    <td colspan="2"><input asp-for="@Model.Kontraktarbejder[i].UL_Firma" style="width:100%;background-color:black;color:white;" /></td>
                    <td colspan="3"><input asp-for="@Model.Kontraktarbejder[i].UL_Materiel" style="width:100%;background-color:black;color:white;" /></td>
                </tr>
            }
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Ekstraarbejde</b></td>
            </tr>
            <tr>
                <td colspan="3">EA nr.</td>
                <td colspan="2">Opgave</td>
                <td colspan="2">Eget Materiel og materialer</td>
                <td colspan="2">UE firma,m ateriel, materialer, kørsel mm</td>
                <td>Fortsætter</td>
            </tr>
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    <td>
                        <b>
                            <select asp-for="@Model.Ekstraarbejder[i].EANr" asp-items="ViewBag.EAId" onchange="updateea(event);" style="width:100%;background-color:black;color:white;">
                                <option value="">EA Nr</option>
                            </select>
                        </b>
                    </td>
                    <td colspan="2"><input asp-for="@Model.Ekstraarbejder[i].EANr_skrevet" placeholder="Eller skriv selv:" style="width:100%;background-color:black;color:white;" /></td>
                    <td colspan="2"><input asp-for="@Model.Ekstraarbejder[i].Opgave" style="width:100%;background-color:black;color:white;" /></td>
                    <td colspan="2"><input asp-for="@Model.Ekstraarbejder[i].Eget_Materiel" style="width:100%;background-color:black;color:white;" /></td>
                    <td colspan="2"><input asp-for="@Model.Ekstraarbejder[i].UEFirma_Materiel" style="width:100%;background-color:black;color:white;" /></td>
                    <td><input asp-for="@Model.Ekstraarbejder[i].Fortsaetter" style="width:100%;background-color:black;color:white;" /></td>
                </tr>
            }
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Uddybende Noter</b></td>
                
            </tr>
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><textarea asp-for="UddybendeNoter" rows="6" cols="80" style="width:100%;background-color:black;color:white;"></textarea></td>
            </tr>
            <tr>
                <td colspan="10" style="background-color:orange;color:black;"><b>Billeder</b></td>
            </tr>
            <tr>
                <td colspan="3">Upload billeder</td>
                <td colspan="7"><input type="file" name="files" multiple accept=".jpg,.jpeg,.png" style="width:100%;" /></td>
            </tr>
            <tr>
                <td colspan="10">
                    <input asp-for="Signature" hidden="hidden" />
                    <button type="submit" style="background-color:black;color:orange;height:80px;width:100%;font-size:24px;"><b>Opdater Rapport</b></button>
                </td>
            </tr>

        </table>
        
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".date-picker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-1:+0",
                    dateFormat: "dd-MM-yy",
                    controlType: 'select'
                });
                startupdate();
            });
        });
        function startupdate() {
            var totalantal = 0.0;
            var totaltimer = 0.0;
            var totaltimerfoerovertid = 0.0;
            var totalovertid50 = 0.0;
            var totalovertid100 = 0.0;
            var totaltotal = 0.0;
            for (i = 0; i < 10; i++) {
                totalantal += +$("#Timer_" + i + "__AntalPersoner").val();
                totaltimer += +$("#Timer_" + i + "__Timer").val();
                totaltimerfoerovertid += +$("#Timer_" + i + "__TimerFoerOvertid").val();
                totalovertid50 += +$("#Timer_" + i + "__Overtid_50").val();
                totalovertid100 += +$("#Timer_" + i + "__Overtid_100").val();
                totaltotal += +$("#Timer_" + i + "__CGJ_Timer_Total").val();
            }
            $("#totalantal").val(totalantal);
            $("#totaltimer").val(totaltimer);
            $("#totaltimerfoerovertid").val(totaltimerfoerovertid);
            $("#totalovertid50").val(totalovertid50);
            $("#totalovertid100").val(totalovertid100);
            $("#totaltotal").val(totaltotal);
        }
        function UpdateHours(e) {
            var id = e.target.id.split("_")[1].split("__")[0];
            var nump = +$("#Timer_" + id + "__AntalPersoner").val();
            var numh = +$("#Timer_" + id + "__Timer").val();
            var t_over_50 = +$("#Timer_" + id + "__Overtid_50").val();
            var t_over_100 = +$("#Timer_" + id + "__Overtid_100").val();
            if (nump > 0 && numh > 0) {
                $("#Timer_" + id + "__TimerFoerOvertid").val(nump * numh);
                $("#Timer_" + id + "__CGJ_Timer_Total").val(nump * numh + t_over_50 * 0.5 * nump + t_over_100 * nump);
            }
            var totalantal = 0.0;
            var totaltimer = 0.0;
            var totaltimerfoerovertid = 0.0;
            var totalovertid50 = 0.0;
            var totalovertid100 = 0.0;
            var totaltotal = 0.0;
            for (i = 0; i < 10; i++) {
                totalantal += +$("#Timer_" + i + "__AntalPersoner").val();
                totaltimer += +$("#Timer_" + i + "__Timer").val();
                totaltimerfoerovertid += +$("#Timer_" + i + "__TimerFoerOvertid").val();
                totalovertid50 += +$("#Timer_" + i + "__Overtid_50").val();
                totalovertid100 += +$("#Timer_" + i + "__Overtid_100").val();
                totaltotal += +$("#Timer_" + i + "__CGJ_Timer_Total").val();
            }
            $("#totalantal").val(totalantal);
            $("#totaltimer").val(totaltimer);
            $("#totaltimerfoerovertid").val(totaltimerfoerovertid);
            $("#totalovertid50").val(totalovertid50);
            $("#totalovertid100").val(totalovertid100);
            $("#totaltotal").val(totaltotal);

        }
        function updateea(e) {
            var id = e.target.id.split("_")[1].split("__")[0];
            var selectedText = $("#" + e.target.id + " option:selected").text();
            $("#Ekstraarbejder_" + id + "__" + "EANr_skrevet").val(selectedText.split(":")[0]);
            $("#Ekstraarbejder_" + id + "__" + "Opgave").val(selectedText.split(":")[1]);
            $("#Ekstraarbejder_" + id + "__" + "Fortsaetter").prop('checked', true);
        }
    </script>
}