@model IEnumerable<MainOps.Models.CGJClasses.Protocol>

@{
    ViewData["Title"] = "Protokoller";
}

<h2>Protokoller</h2>

<p>
    <a asp-action="Create_Protocol">Opret ny</a>
</p>
<p>
    <a asp-action="CGJensenMainMenu">Tilbage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Protocolnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Protocolnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit_Protocol" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="CGJensenMainMenu">Tilbage</a>
</p>