@model IEnumerable<MainOps.Models.CGJClasses.RoadSection>

@{
    ViewData["Title"] = "Vejsektioner";
}

<h2>Vejsektioner</h2>

<p>
    <a asp-action="Create_RoadSection">Opret ny</a>
</p>
<p>
    <a asp-action="CGJensenMainMenu">Tilbage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Protocol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Protocol.Protocolnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit_RoadSection" asp-route-id="@item.Id">Rediger</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="CGJensenMainMenu">Tilbage</a>
</p>