@model MainOps.Models.SubProject

@{
    Layout = null;
}
<div>
    <h4>@SharedLocalizer.GetLocalizedHtmlString("Project")</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubProjectNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubProjectNr)
        </dd>
        <dt>
            <b>@SharedLocalizer.GetLocalizedHtmlString("Contact Person")</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientContact)
        </dd>
        <dt>
            <b>@SharedLocalizer.GetLocalizedHtmlString("Contact Email")</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
    </dl>
</div>
