@model MainOps.Models.AcidTreatment

@{
    Layout = null;
    var reflevel = Model.Ref_Level - Model.Water_level;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedLocalizer.GetLocalizedHtmlString("Pump Test")</title>
    <link rel="stylesheet" href="@Url.Content("~/css/pdfcss.css")" />
</head>

<table style="width:100%">
    <tr>
        <td><h2>@SharedLocalizer.GetLocalizedHtmlString("Acid Treatment Report")</h2></td>
        <td colspan="2" align="right"><img src="~/images/Divisions/Photos/@Model.Project.DivisionId/@Model.Project.Division.LogoPath" width="151" height="66" /></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Project.Name)</b></td>
        <td>@Html.DisplayFor(Model => Model.Project.Name)</td>
        <td></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.SubProjectId)</b></td>
        <td>@Html.DisplayFor(Model => Model.SubProject.Name)</td>
        <td></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Wellname)</b></td>
        <td>@Html.DisplayFor(Model => Model.Wellname)</td>
        <td></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Report_Date)</b></td>
        <td>
            @Html.DisplayFor(Model => Model.Report_Date)
        </td>
        <td></td>
    </tr>

    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.starttime)</b></td>
        <td>
            @Html.DisplayFor(Model => Model.starttime)
        </td>
        <td></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.endtime)</b></td>
        <td>
            @Html.DisplayFor(Model => Model.endtime)
        </td>
        <td></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Water_Meter_Before)</b></td>
        <td>@Html.DisplayFor(Model => Model.Water_Meter_Before)</td>
        <td>m3</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Water_Meter_After)</b></td>
        <td>@Html.DisplayFor(Model => Model.Water_Meter_After)</td>
        <td>m3</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Totalm3)</b></td>
        <td>@string.Format("{0:N2}", Model.Totalm3)</td>
        <td>m3</td>
    </tr>
    @try
    {
        if (Model.TestData != null)
        {
            if (Model.TestData.Count > 0)
            {
                <tr>
                    <td><b>@Html.DisplayNameFor(Model => Model.TestData.Last().Acid_m3_total)</b></td>
                    <td>@Html.DisplayFor(Model => Model.AcidTotalm3)</td>
                    <td>m3</td>
                </tr>
            }
        }
    }
    catch
    {
        <tr>
            <td><b>@SharedLocalizer.GetLocalizedHtmlString("Acid m3 Total")</b></td>
            <td>@Html.DisplayFor(Model => Model.AcidTotalm3)</td>
            <td>m3</td>
        </tr>
    }
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Total_m3_acid_Manual)</b></td>
        <td>@string.Format("{0:N2}", Model.Total_m3_acid_Manual)</td>
        <td>m3</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Ref_Level)</b></td>
        <td>@string.Format("{0:N2}", Model.Ref_Level)</td>
        <td>mDVR90</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Water_level)</b></td>
        <td>@Html.DisplayFor(Model => Model.Water_level)</td>
        <td>m</td>
    </tr>
    <tr>
        <td><b>@SharedLocalizer.GetLocalizedHtmlString("Water level in Reference")</b></td>
        <td>@String.Format("{0:N2} ", reflevel)</td>
        <td>mDVR90</td>
    </tr>

    <tr>
        <td><b>@Html.DisplayNameFor(Model => Model.Bottom_well)</b></td>
        <td>@Html.DisplayFor(Model => Model.Bottom_well)</td>
        <td>m</td>
    </tr>
    <tr>
        <td><b>@SharedLocalizer.GetLocalizedHtmlString("Dosing %")</b></td>
        <td>
            @try
            {
               
                @String.Format("{0:N2}", (Model.AcidTotalm3 / (Model.TestData.OrderBy(x => x.TimeStamp).Last().m3_total - Model.TestData.OrderBy(x => x.TimeStamp).First().m3_total) * 100.0))
            }
            catch
            {
                <text>0.00 %</text>
            }
        </td>
        <td>%</td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="@Model.imagepath" style="width:100%;" />
        </td>
    </tr>
</table>


<input hidden="hidden" id="theid" value="@Model.Id" />

@*<div id="chartimg">
    <img src="@Model.imagepath" style="width:100%;height:800px" />
</div>*@


